{
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "babel",
  ],
  "extends": [
    "uber-jsx",
    "uber-es2015",
    "prettier",
    "prettier/react"
  ],
  "rules": {
    "guard-for-in": 0,
    "camelcase": 0,
    "comma-dangle": 0,
    "no-process-env": 0,
    'brace-style': [2, '1tbs', { 'allowSingleLine': true }],
    'no-invalid-this': 0,
    'babel/no-invalid-this': 1,
  },
  "globals": {
    "document": false,
    "process": false,
    "window": false,
    "fetch": false,
    "btoa": false,
  }
}
