{
  "all": true,
  "sourceMap": false,
  "instrument": true,
  "include": [
    "src/**/*.+(js|jsx|cjs|mjs|ts|tsx)",
    "modules/**/src/**/*.+(js|jsx|cjs|mjs|ts|tsx)"
  ],
  "exclude": [
    "**/deprecated",
    "**/wip",
    "**/*.spec.+(js|ts)",
    "**/*.d.ts"
  ]
}
