.search-input {
  padding: 0.5rem 1rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
}

.search-item {
  .search-title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .search-content {
    max-height: 5rem;
    overflow: hidden;
  }

  & + .search-item {
    margin-top: 1rem;
  }

  > div:last-child {
    img, table {
      display: none;
    }
  }
}
