@font-face {
  font-family: 'source-sans-pro';
  src: url('../../node_modules/source-sans-pro/WOFF2/TTF/SourceSansPro-Regular.ttf.woff2');
  src: url('../../node_modules/source-sans-pro/WOFF/TTF/SourceSansPro-Regular.ttf.woff');  
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'source-sans-pro';
  src: url('../../node_modules/source-sans-pro/WOFF2/TTF/SourceSansPro-Light.ttf.woff2');
  src: url('../../node_modules/source-sans-pro/WOFF/TTF/SourceSansPro-Light.ttf.woff'); 
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'source-sans-pro';
  src: url('../../node_modules/source-sans-pro/WOFF2/TTF/SourceSansPro-Semibold.ttf.woff2');
  src: url('../../node_modules/source-sans-pro/WOFF/TTF/SourceSansPro-Semibold.ttf.woff');  
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'source-sans-pro';
  src: url('../../node_modules/source-sans-pro/WOFF2/TTF/SourceSansPro-Bold.ttf.woff2');
  src: url('../../node_modules/source-sans-pro/WOFF/TTF/SourceSansPro-Bold.ttf.woff');  
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'source-sans-pro';
  src: url('../../node_modules/source-sans-pro/WOFF2/TTF/SourceSansPro-It.ttf.woff2');
  src: url('../../node_modules/source-sans-pro/WOFF/TTF/SourceSansPro-It.ttf.woff');  
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'source-sans-pro';
  src: url('../../node_modules/source-sans-pro/WOFF2/TTF/SourceSansPro-LightIt.ttf.woff2');
  src: url('../../node_modules/source-sans-pro/WOFF/TTF/SourceSansPro-LightIt.ttf.woff'); 
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'source-sans-pro';
  src: url('../../node_modules/source-sans-pro/WOFF2/TTF/SourceSansPro-SemiboldIt.ttf.woff2');
  src: url('../../node_modules/source-sans-pro/WOFF/TTF/SourceSansPro-SemiboldIt.ttf.woff');  
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'source-sans-pro';
  src: url('../../node_modules/source-sans-pro/WOFF2/TTF/SourceSansPro-BoldIt.ttf.woff2');
  src: url('../../node_modules/source-sans-pro/WOFF/TTF/SourceSansPro-BoldIt.ttf.woff');  
  font-weight: 700;
  font-style: italic;
}

