<!DOCTYPE html>
<html>
  <head>
    <title>Monochrome</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Monochrome is a collection of components oriented around Data-Visualization">

    <link rel="icon" type="img/ico" href="favicon.ico">
    <link rel="stylesheet" id="font-link" href="https://d1a3f4spazzrp4.cloudfront.net/uber-fonts/3.1.0/refresh.css">

    <!-— facebook open graph tags -->
    <meta property="og:url" content="https://uber.github.io/react-map-gl/" />
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
    <meta property="og:site_name" content="monochrome" />

    <!-— twitter card tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@uber">
    <meta name="twitter:creator" content="@uber">
    <meta name="twitter:title" content="monochrome">
    <meta name="twitter:description" content="">

  </head>
  <body>
    <div id="root"></div>
    <script type="text/javascript" src="bundle.js"></script>
  </body>
</html>
