$primary: #7989b7;
$secondary: #ccc7e4;
$black: #2e3446;
$black-20: #213746;
$black-40: #5a666d;
$white: #ededed;
$white-40: #8d9ba3;

$core-500: #2c55b1;
$gray-6: #f7f7f7;
$light-mono: #333;

$footer-height: 13rem;
$topbar-height: 4rem;
$topbar-maxheight: 8rem;
$toc-width: 300px;
$mobile: 576px;

@font-face {
  font-family: 'UberMove';
  src: url('https://d1a3f4spazzrp4.cloudfront.net/dotcom-assets/fonts/UberMove-Light.woff2')
      format('woff2'),
    url('https://d1a3f4spazzrp4.cloudfront.net/dotcom-assets/fonts/UberMove-Light.woff')
      format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'UberMove';
  src: url('https://d1a3f4spazzrp4.cloudfront.net/dotcom-assets/fonts/UberMove-Regular.woff2')
      format('woff2'),
    url('https://d1a3f4spazzrp4.cloudfront.net/dotcom-assets/fonts/UberMove-Regular.woff')
      format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'UberMove';
  src: url('https://d1a3f4spazzrp4.cloudfront.net/dotcom-assets/fonts/UberMove-Medium.woff2')
      format('woff2'),
    url('https://d1a3f4spazzrp4.cloudfront.net/dotcom-assets/fonts/UberMove-Medium.woff')
      format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'UberMove';
  src: url('https://d1a3f4spazzrp4.cloudfront.net/dotcom-assets/fonts/UberMove-Bold.woff2')
      format('woff2'),
    url('https://d1a3f4spazzrp4.cloudfront.net/dotcom-assets/fonts/UberMove-Bold.woff')
      format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'UberMoveText';
  src: url('https://d1a3f4spazzrp4.cloudfront.net/dotcom-assets/fonts/UberMoveText-Light.woff2')
      format('woff2'),
    url('https://d1a3f4spazzrp4.cloudfront.net/dotcom-assets/fonts/UberMoveText-Light.woff')
      format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'UberMoveText';
  src: url('https://d1a3f4spazzrp4.cloudfront.net/dotcom-assets/fonts/UberMoveText-Regular.woff2')
      format('woff2'),
    url('https://d1a3f4spazzrp4.cloudfront.net/dotcom-assets/fonts/UberMoveText-Regular.woff')
      format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'UberMoveText';
  src: url('https://d1a3f4spazzrp4.cloudfront.net/dotcom-assets/fonts/UberMoveText-Medium.woff2')
      format('woff2'),
    url('https://d1a3f4spazzrp4.cloudfront.net/dotcom-assets/fonts/UberMoveText-Medium.woff')
      format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'UberMoveText';
  src: url('https://d1a3f4spazzrp4.cloudfront.net/dotcom-assets/fonts/UberMoveText-Bold.woff2')
      format('woff2'),
    url('https://d1a3f4spazzrp4.cloudfront.net/dotcom-assets/fonts/UberMoveText-Bold.woff')
      format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Uber Move', 'UberMove', 'Helvetica Neue', Helvetica, sans-serif !important;
  font-size: 12px;
  line-height: 22px;
}

.banner .container {
  text-shadow: none;
  padding-left: 24px;
  background: $black-20;
  max-width: none;
  h1 {
    font-size: 5em;
    text-shadow: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 700;
    margin: 96px 0 8px;
    padding: 96px 24px 8px;
  }
  p {
    text-shadow: none;
    padding: 12px 24px;
  }
  .btn {
    margin-left: 24px;
  }
}

.header-content {
  .logo,
  .site-links .site-link {
    text-transform: uppercase;
  }
}
